<!DOCTYPE html>
<head>
  <title>Forgot password?</title>
  <link
    id="favicon"
    rel="icon"
    type="image/png"
    href="/images/adpanel-dark.png"
  />
  <style>
    strong {
      background-color: gray;
      color: white;
    }
  </style>
</head>
<body>
  <html>
    <p>
      [Dashboard] Due to security reasons you can only reset your password
      directly from the terminal using the command
      <strong>bash initialize.sh</strong> from the adsetups directory.
    </p>
  </html>
</body>
